@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

@include oGridAddLayout($layout-name: iPhone4, $layout-width: 480px);

// header.o-header{
//   position: relative;
//   z-index: 2 !important;
// }

.map {
  width: 100%;
  height: calc(37.89vh);
  border-bottom: 1px solid #e9decf;
}

.obor-container {
  position: relative;
  // margin-top: 37.89vh;
  overflow-y: hidden;
  background-color: rgba(255, 241, 224, 0.85);
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff1e0;
}

.sticky:before,
.sticky:after {
  content: '';
  display: table;
  clear: both;
}

@include oGridRespondTo($from: iPhone4, $until: M) {
  .sticky {
    width: 50vw;
    float: left;
  }

  .map {
    height: 100vh;
    z-index: 1;
    *:after {
      content: '';
      // display: table;
      clear: both;
    }
  }

  .obor-container {
    margin-top: 0;
    margin-left: 50vw;
    border-left: 1px solid #e9decf;
  }
}

@include oGridRespondTo(L) {
  .sticky {
    width: 62.11vw;
    float: left;
  }

  .map {
    height: 100vh;
    z-index: 1;
    *:after {
      content: "";
      // display: table;
      clear: both;
    }
  }

  .obor-container {
    margin-top: 0;
    margin-left: 62.11vw;
    border-left: 1px solid #e9decf;
  }

  .article-body .obor-items {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.obor-item {
  opacity: 0.25;
  &.active {
    opacity: 1;
  }
}

.obor-items:last-child {
    margin-bottom: calc(0.8em + 40px);
}

.o-footer {
  position: relative;
  z-index: 2;
  margin-top: 0 !important;
}
